@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}

.title{
  color:white;
  font-size:4rem;
  font-weight:bold;
  text-align:center;
  padding: 4rem 0rem;
  text-decoration: underline overline wavy violet;
  text-underline-offset: 1.5rem; 
}